<div class="container">
    <div class="title-container">
        <h1 class="title">Bem vindo!</h1>
        <h2 class="title">Usar suas credenciais de acesso abaixo.</h2>
    </div>
    <section class="card">
        <div class="card-container">
            <div>
                <p class="section-title">BARBEARIA</p>
                <p class="section-title">Agende seu horário!</p>
            </div>
            <p class="text">Cliente</p>
            <a routerLink="agendamento/" class="primary-button">Agendar Horário</a>
            <p class="caption">ou</p>
            <a routerLink="login/" class="primary-button black-button">Acessar painel</a>
        </div>
    </section>
</div>

